{% extends "base.html" %}
{% block sidebar %}
<h3>Latest News</h3>
<ul class="news">
	<li>
		<b>05/16/2010 - layout/CSS works:</b> <i>deb.li</i> is finally on the way to receive a nice layout and CSS. The layout is fixed now, but some nice CSS styling is still missing. This latest news archive was added, too.
	</li>
	<li>
		<b>05/10/2010 - migrating to flask:</b> The deb.li codebase was migrated to the microframework <a href="http://flask.pocoo.org/">Flask</a>, which is much easier to integrate and use than the formerly used Bottle. Also it is based on <a href="http://werkzeug.pocoo.org/">Werkzeug</a>, a well known and lightwight WSGI library.
	</li>
	<li>
		<b>04/05/2010 - ciabot.py example client:</b> Have a look at <a href=http://deb.li/ciabot">http://deb.li/ciabot</a> - the ciabot.py script in the example client repository. Please note that the script is a bit customized for alioth, so make sure it works properly for you when you use it somewhere else.
	</li>
	<li>
		<b>04/03/2010 - deb.li beta test announced:</b> After several nights of coding, <i>deb.li</i> went online and was announced on debian-devel@lists.debian.org. See <a href="http://deb.li/38a2e">http://deb.li/38a2e</a>.
	</li>
</ul>
{% endblock %}

