<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<title>deb.li: Debian ShortURL Service - {% block title %}{{ title }}{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/yui-reset-fonts-grids.css" />
	<link rel="stylesheet" type="text/css" href="/static/yui-base.css" />
<!--	<link rel="stylesheet" type="text/css" href="/static/style.css" /> -->
	<link rel="shortcut icon" href="/static/favicon.ico" /> 
	{% block extra_heads %}
	{% endblock %}
</head>
<body>
<div id="doc3" class="yui-t7">
	<div id="hd">
		<div class="header">
			<img id="header-logo" src="/static/openlogo-nd-50.png" alt="debian.org"/>
			<span id="header-title"><h1>deb.li: Debian ShortURL Service</h1></span>
			<span id="header-subtitle">
				<h2>{% block header_subtitle %}{{ title }}{% endblock %}</h2>
			</span>
		</div>
		<div class="menu">
			<a href="/">Home</a> |
			<a href="http://wiki.debian.org/deb.li">Documentation</a> |
			<a href="/stats.html">Statistics</a> |
			<a href="/imprint.html">Imprint/Impressum</a> |
			<a href="mailto:bzed@debian.org?subject=deb.li">Contact</a>
		</div>
	</div>
	<div id="bd">
                <div id="yui-main">
       	                <div class="yui-b">
               	                <div class="yui-gc">
                       	                <div class="yui-u first">
						{% block body %}
						{% endblock %}
                                       	</div>
					<div class="yui-u">
						{% block sidebar %}
						{% endblock %}
                                       	</div>
                               	</div>
                       	</div>
               	</div>
               	<div class="yui-b">
			{% block footer_content %}
			{% endblock %}
               	</div>
        </div>
       	<div id="ft">
		<p>Running
		<a href="http://bzed.de">Bernd Zeimetz'</a>
		<a href="http://git.recluse.de/?p=debian/go.debian.net.git">godebian</a>
		software, using
		<a href="http://www.python.org/">Python</a>, 
		<a href="http://flask.pocoo.org/">Flask</a> and 
		<a href="http://werkzeug.pocoo.org/">Werkzeug</a>, 
		<a href="http://www.sqlalchemy.org/">SQLAlchemy</a> and 
		<a href="http://www.postgresql.org/">PostgreSQL</a></p>
		<p>
		<a href="http://www.debian.org/">
		  <img src="/static/button-debian.png" alt="debian.org"/>
		</a>
		<a href="http://jigsaw.w3.org/css-validator/check/referer">
		  <img src="/static/button-css.png" alt="valid CSS"/>
		</a>
		<a href="http://validator.w3.org/check/referer">
		  <img src="/static/button-xhtml.png" alt="valid XHTML"/>
		</a>
		<a href="http://www.credativ.de">
		  <img src="/static/button-credativ.png" alt="credativ GmbH" />
		</a>
        </div>
</div>
</body>
</html>
