{% extends "base.html" %}
{% block column_right %}
<h2>Latest News</h2>
<ul>
	<li>
                <strong>26/10/2015 - md raid crashed:</strong> One drive in a raid set failed. And the next one while rebuilding the raid. Good news: New hardware was already setup and running, just waiting for a final DB dump and DNS change. Now the DB dump was the backup from the 25th. Back online on 27/10/2015. Sorry!
	</li>
	<li>
                <strong>22/10/2013 - migrating to KallesDesign:</strong> After some three years and more than 160000 shortened URLs, the <tt>deb.li</tt> css and templates were migrated to the awesome <a href="https://wiki.debian.org/KallesDesign">KallesDesign</a>.
	</li>
	<li>
		<strong>28/06/2010 - issues during the last days:</strong> <tt>deb.li</tt> was running in weird connection issues while trying to connect to memcached. The current pylibmc had problems to talk to memcached - switched back to the memcached module. Sorry for the trouble!
	</li>
	<li>
		<strong>05/16/2010 - layout/CSS works:</strong> <tt>deb.li</tt> is finally on the way to receive a nice layout and CSS. The layout is fixed now, but some nice CSS styling is still missing. This latest news archive was added, too.
	</li>
	<li>
		<strong>05/10/2010 - migrating to flask:</strong> The deb.li codebase was migrated to the microframework <a href="http://flask.pocoo.org/">Flask</a>, which is much easier to integrate and use than the formerly used Bottle. Also it is based on <a href="http://werkzeug.pocoo.org/">Werkzeug</a>, a well known and lightwight WSGI library.
	</li>
	<li>
		<strong>04/05/2010 - ciabot.py example client:</strong> Have a look at <a href="http://deb.li/ciabot">http://deb.li/ciabot</a> - the ciabot.py script in the example client repository. Please note that the script is a bit customized for alioth, so make sure it works properly for you when you use it somewhere else.
	</li>
	<li>
		<strong>04/03/2010 - deb.li beta test announced:</strong> After several nights of coding, <tt>deb.li</tt> went online and was announced on debian-devel@lists.debian.org. See <a href="http://deb.li/38a2e">http://deb.li/38a2e</a>.
	</li>
</ul>
{% endblock %}

