{% extends "base-news.html" %}
{% block title %}Imprint{% endblock %}
{% block column_left %}
<h2>Imprint</h2>
<p>This page is maintained by</p>

<ul class="nolist">
    <li>Bernd Zeimetz</li>
    <li>Hauptstr. 37</li>
    <li>5071 Wals bei Salzburg</li>
    <li>AUSTRIA</li>
    <li>+43 699 1501 8006</li>
    <li></li>
    <li>bzed@debian.org</li>
    <li></li>
    <li>PGP-Fingerprint: ECA1 E3F2 8E11 2432 D485  DD95 EB36 171A 6FF9 435F</li>
</ul>
</pre>

<p>This data may not be used for advertising purposes.</p>
{% endblock %}

