* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	margin: auto;
	background-color: #111;
	font-family: 'Lucidia Grande', Verdana, Arial;
	font-size: 17px;
	color: #000;
}

h1, h2, h3, h4, h5 {
	color: #c70036;
}

a {
	text-decoration: none;
}

img {
	border: 0px;
}

.container-outer {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	border: 1px #fff solid;
}

.container-inner {
	width: 750px;
	background-color: white;
}

.header-outer {
	background-color: #003d6d;
	color: #fff;
	border-bottom: 0.5em solid #c70036;
}

.header-inner {
	min-height: 85px;
}

.header-inner h1 {
	color: #fff;
}

#header-logo {
	float: left;
	padding: 10px 10px 10px 10px;
}

.menu-outer {
	background-color: #aaa;
}

.menu-inner {
	padding-left: 10px;
}

.body-outer {
	min-height: 170px;
}

.body-content {
	padding: 5px 5px 5px 5px;
}

.footer-inner {
	color: #fff;
	background-color: #aaa;
}

.footer-banner {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
