* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #fff;
	font-family: 'Lucidia Grande', Verdana, Arial;
	font-size: 12px;
	color: #000;
}

h1, h2, h3, h4, h5 {
	color: #c70036;
}

a {
	text-decoration: none;
}

.header-outer {
	background-color: #000;
	color: #fff;
}

.header-logo {
	float: left;
}

.footer-inner ul {
	list-style: none;
}

.footer-inner li {
	display: block;
	float: left;
}
