* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #111;
	background-image: url('/static/openlogo-nd-50.png');
	background-repeat: repeat;
	background-attachment:fixed;
	font-family: 'Lucidia Grande', Verdana, Arial;
	font-size: 14px;
	color: #000;
}

h1, h2, h3, h4, h5 {
	color: #c70036;
}

a {
	text-decoration: none;
}

.container-inner {
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
	background-color: white;
}

.header-outer {
	background-color: #003d6d;
	color: #fff;
	border-bottom: 0.5em solid #c70036;
}

.header-logo {
	float: left;
	padding: 10px 10px 10px 10px;
}

.header-inner {
	min-height: 85px;
}

.header-inner h1 {
	color: #fff;
}

.menu-inner {
	background-color: #aaa;
}

.footer-inner {
	color: #fff;
	background-color: #aaa;
}

.footer-banner {
	vertical-align: middle;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-banner a {
        padding-left: 20px;
	padding-right: 20px;
}
